*{
  margin: 0;
  padding: 0;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: calc(64px*8);
  height: calc(64px*8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell img {
  height: 50px;
  width: 50px;
  position: relative;
}

.black {
  background-color: rgb(135, 64, 17);
}

.white {
  background-color: rgb(187, 150, 104);
}

.selected {
  background-color: rgb(9, 136, 168);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(9, 170, 9);
}

.lost{
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.lost img {
  position: absolute;
  padding-left: 2px;
}

